<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Todos os Eventos
  </h1>
  <ol class="breadcrumb">
    <li><a href="/manager"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/manager/events">Events</a></li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
            
            <div class="box-header">
              <a href="/manager/events/new/" class="btn btn-success">Novo Evento</a>
            </div>

            <div class="box-body no-padding">
              <table class="table table-striped">
                 <thead>
                <tr>
                  <th>Nome</th>
                  <th>Descrição</th>
                  <th>Local</th>
                  <th>Início do evento</th>
                  <th>Fim do evento</th>
                  <th>Inicio das inscrições</th>
                  <th>Fim das inscrições</th>
                  <th>Url do evento</th>
                  <th>Total de inscritos</th>
                  <th>Limite de vagas</th>
                  <th>Preço inscrição</th>
                  <th>Facebook</th>
                  <th>Instagram</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                  {loop="$event"}
                <tr>
                  <td>{function="utf8_encode($value.event_name)"}</td>
                  <td>{function="utf8_encode($value.description)"}</td>
                  <td>{function="utf8_encode($value.local)"}</td>
                  <td>{$value.initial_date}</td>
                  <td>{$value.end_date}</td>
                  <td>{$value.regs_start}</td>
                  <td>{$value.regs_end}</td>
                  <td><a href="http://sgcongressos.com/event/{$value.site}" target="_blank">Clique aqui</a></td>
                  <td>{$value.subscribes}</td>
                  {if="$value.vacancies==='0'"}
                    <td>Ilimitadas</td>
                 {else}
                    <td>{$value.vacancies}</td>
                 {/if}
                 <td>{$value.price}</td>
                 <td>{$value.fb_id}</td>
                 <td>{$value.instagram_id}</td>
                    
                  <td>
                   <p> <a href="/manager/events/{$value.idevent}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a></p>
                     <p> <a href="/manager/events/{$value.idevent}/delete" onclick="return confirm('Uma vez excluido, todos os dados serão perdidos. Deseja realmente excluir este evento?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a></p>
                  </td>
                  
                </tr>

                {/loop}    
                </tbody>
              </table>
            </div>
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>