<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Todos os Participantes
  </h1>
  <ol class="breadcrumb">
    <li><a href="/manager"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="/manager/participants">Participants</a></li>
  </ol>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">

        <div class="box-header">
              <a href="/manager/participants/{$idevent}/export" class="btn btn-success">Exportar dados</a>
            </div>
            <div class="box-body no-padding">
              <table class="table table-striped">
                 <thead>
                <tr>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                  <th>Status(Pago/Não Pago)</th>
                  <th>Categoria</th>
                 
                </tr>
                </thead>
                <tbody>
                   {loop="$participant"}
                <tr>
                  <td>{function="utf8_decode($value.pname)"}</td>
                  <td>{$value.cpf}</td>
                  <td>{$value.phone}</td>
                  <td>{$value.email}</td>
                  {if="$value.status==='0'"}
                  <td>Não Pago</td>
                  {else}
                  <td>Pago</td>
                  {/if}
                  <td>{$value.category}</td>
                  
                </tr>

               
                </tbody>
                {/loop}
              </table>
            </div>
          </div>
    </div>
  </div>

</section>
<!-- /.content -->
</div>