 <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/res/admin/dist/img/avatar5.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{$participant.pname}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/res/admin/dist/img/avatar5.png" class="img-circle" alt="User Image">

                <p>
                  
                  <small>Membro desde {$participant.dtregister}</small>
                </p>
              </li>
              <!-- Menu Body -->
             
              <!-- Menu Footer-->
              <li class="user-footer">

                <div class="pull-left">
                  <a href="/event/{$event.site}/panel/{$participant.idparticipant}" class="btn btn-default btn-flat">Editar dados</a>
                </div>
                
                <div class="pull-right">
                  <a href="/event/{$event.site}/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      

      

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
      
        <!-- Optionally, you can add icons to the links -->
        <li><a href="/event/{$event.site}/panel"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li><a href="/event/{$event.site}/payment"><i class="fa fa-bookmark"></i> <span>Pagamento</span></a></li>
        <li><a href="/event/{$event.site}/activities"><i class="fa fa-bookmark"></i> <span>Atividades</span></a></li>
        <li><a href="#"><i class="fa fa-briefcase"></i> <span>Submeter</span></a></li>
        
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li><a href="/event/{$event.site}/panel"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
  </section>

  <!-- Main content -->
   <section class="content">


  <div class="row">

        {if="$participant.status==1"}
         <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>Status</h3>
         
              <p>Pago</p>
            </div>
            <div class="icon">
              <i class="ion ion-plus"></i>
            </div>
            <p class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></p>
          </div>    
         </div>  
         {else}
         {if="$participant.status==''"}

        <div class="col-lg-3 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>Status</h3>
         
              <p>Não Pago</p>
            </div>
            <div class="icon">
              <i class="ion ion-minus"></i>
            </div>
            <p class="small-box-footer"><a href="/event/{$event.site}/payment" style="color: #fff">Clique aqui para pagar</a></p>
          </div>  
        </div>
        {/if}  
      {/if} 



    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Bem vindo {$participant.pname}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
         <div class="box-header">
          <p>Dados Cadastrais</p>
        </div>
        <form role="form" action="/panel/profile/{$participant.idparticipant}" method="post">
          <div class="box-body">
            <div class="form-group col-md-6">
              <label for="pname">Nome</label>
              <input type="text" class="form-control" id="pname" name="pname" placeholder="" value="{$participant.pname}" disabled="">
            </div>
            <div class="form-group col-md-6">
              <label for="cpf">CPF</label>
              <input type="text" class="form-control" id="cpf" name="cpf" placeholder=""  value="{$participant.cpf}" disabled="">
            </div>
            <div class="form-group col-md-6">
              <label for="nrphone">Telefone</label>
              <input type="tel" class="form-control" id="phone" name="phone" placeholder=""  value="{$participant.phone}" disabled="">
            </div>
            <div class="form-group col-md-6">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="" value="{$participant.email}" disabled="">
            </div>
            <div class="form-group col-md-6">
              <label for="categoria">Categoria</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="" value="{$participant.category}" disabled="">
            </div>
          
            <div class="form-group col-md-6">
              <label for="login">Login</label>
              <input type="text" class="form-control" id="login" name="login" placeholder="" value="{$participant.login}" disabled="">
            </div>
        </form>
      </div>
    </div>





  </div>
        

        
     

    </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper